body {
    background-color:rgb(255, 255, 182);
}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(136, 136, 0);
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    border-radius: 30px;
}

header {
    background-color: rgb(174, 171, 0);
    font-family: Verdana;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 248, 123)
}

main {
    background-color: rgb(174, 171, 0);
    font-family: Verdana;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 248, 123)
}

footer {
    background-color: rgb(174, 171, 0);
    font-family: Verdana;
    border-radius: 7px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 248, 123)
}

img {
    width: 888px;
}

td {
    border: 1px solid blue;
}

.red {
    width: 40px;
    height: 30px;
}

.king {
    width: 40px;
    height: 40px;
}

.hello {
    font-family: sans-serif;
    font-size: 60px;
    color: rgb(158, 116, 0)
}

.chair {
    background-color: rgb(210, 210, 210)
}

.point {
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    border-radius: 20px;
}
